Makefile
Makefile.old
blib/arch/.exists
blib/arch/auto/pai/.exists
blib/bin/.exists
blib/lib/.exists
blib/lib/AlsaState.pm
blib/lib/AlsaState/Parser.pm
blib/lib/auto/pai/.exists
blib/lib/auto/pai/autosplit.ix
blib/lib/pai.pm
blib/man1/.exists
blib/man1/pai.1p
blib/man3/.exists
blib/man3/pai.3pm
blib/script/.exists
blib/script/pai
lib/AlsaState.pm
lib/AlsaState/Parser.pm
pm_to_blib
